---
changefreq: weekly
priority: 0.7
---

<article class="post profile">

  <header>
    <h2 class="title">Roy</h2>
  </header>

  <aside class="aside-block">
    <ul class="meta">
      <li class="author-photo">
        <a href="<%= data.author['roy'].link %>">
          <%= image_tag data.author['roy'].avatar %>
        </a>
      </li>
      <li class="author"><strong><%= data.author['roy'].name %></strong> <br>设计师&开发者 <br>Co-founder of Pragmatic.ly</li>
    </ul>
  </aside>

  <div class="content">

    <p>杨濯宇 从 PHP 转到 Ruby 的程序宅，有独立开发，上线和维护产品的经验。喜欢钻研，分享和传播写代码的心得和体会。Tealeaf Academy 学生兼助教，现在是 Pragmatic.ly 团队的软件工程师。沉迷于测试驱动的设计和架构研究，努力做一名出色的架构师。</p>

    <p>你可以通过以下方式找到他:</p>
    
    <ul class="connect">
      <li><a href="mailto:zhuoyuyang@gmail.com"><i class="icon-envelope"></i></a></li>
      <li><a href="//twitter.com/poiyzy"><i class="icon-twitter"></i></a></li>
      <li><a href="//weibo.com/zhuoyuyang"><i class="icon-weibo"></i></a></li>
    </ul>
  </div>
  
</article>

